{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}{% trans "Check out" %}{% endblock %}
{% block content %}
    <h1>{% trans "Checkout" %}</h1>
    <div class="text-info">
    <h3>{%  trans "Your Orders"%}</h3>
    <ul>
        {% for item in cart %}
        <li>{{ item.quantity }} X {{ item.product.name }}<span>${{ item.total_price }}</span></li>
        {% endfor %}
    {%  if cart.coupon %}
        <li>
        {% blocktrans with code=cart.coupon.code  discount=cart.coupon.discount %}
        "{{ code }}" ({{ discount }} % off){% endblocktrans %}
        <span> - $ {{ cart.get_discount|floatformat:"2" }}</span>
        </li>
    {% endif %}

    </ul>
    <p>Total: $ {{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
    </div>
    <form action="." method="post" class="form-control">
    {{ form.as_p }}
    <p><input type="submit" value="{% trans "Place order" %}"></p>
    {% csrf_token %}
    </form>
{% endblock %}