{% extends "base.html" %}
{% load thumbnail %}
{% block title %} {{ users.username }}{% endblock %}
{% block domready %}
    $('a.follow').click(function(e){
        e.preventDefault();
        $.post('{% url "account:user_follow" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.follow').data('action');

                    // toggle data-action
                    $('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');
                    // toggle link text
                    $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');

                    // update total likes
                    var previous_followers = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);
                }
        });

    });
{% endblock %}
{% block content %}
    <h1>{{ users.username }}</h1>
    <div class="text-info">
    {% thumbnail users.profile.photo "180x180" crop="100%" as im %}
        <img src="{{ im.url }}">
    {% endthumbnail %}
    </div>
    {% with total_followers=users.followers.count %}
    <span class="alert-info">
    <span>{{ total_followers }}</span>
    follower{{ total_followers|pluralize }}
    </span>
    <a href="" data-id="{{ users.id }}" data-action="{%  if request.user in users.followers.all %}un{% endif %}follow"
class="follow">
    {%  if  request.user not in users.followers.all %}
    Follow
    {% else %}
    Unfollow
    {% endif %}
    </a>
    <div id ='img-list' class="imget-container">
    {% include "images/image/list_ajax.html" with images=users.images_created.all %}
    </div>
    {% endwith %}
{% endblock %}